<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/new.css">
    <link rel="stylesheet" href="css/responsive.css">
    <link rel="stylesheet" href="css/about.css">
    <title>Shop Maadi</title>
</head>
<body>
    <header>
    <nav class="navbar">
        <div class="logo">
            <img src="img/Screenshot (6).png" alt="">
        </div>
        <ul class="new">
            <li><a href="/home">Home</a></li>
            <li><a href="/about">About</a></li>
            <li><a href="/contacts">Contacts</a></li>
           
           
           
        </ul>
        <div class="search">
            <input type="text" id="text">
            <button class="btn">Search</button>
        </div>
    </nav>
    </header>
    <div class="img">
    <img src="img/Screenshot (6).png" alt="">
</div>
    <p class="about">
        Online shopping is a form of electronic commerce which allows consumers to directly buy goods or services from a seller over the Internet using a web browser or a mobile app. Consumers find a product of interest by visiting the website of the retailer directly or by searching among alternative vendors using a shopping search engine, which displays the same product's availability and pricing at different e-retailers. As of 2020, customers can shop online using a range of different computers and devices, including desktop computers, laptops, tablet computers and smartphones.

An online shop evokes the physical analogy of buying products or services at a regular "bricks-and-mortar" retailer or shopping center; the process is called business-to-consumer (B2C) online shopping. When an online store is set up to enable businesses to buy from another businesses, the process is called business-to-business (B2B) online shopping. A typical online store enables the customer to browse the firm's range of products and services, view photos or images of the products, along with information about the product specifications, features and prices.




    </p>
    <footer class="foot">
        <p>Copyright &copy; Mycart.com</p>
    </footer>
</body>
</html>
