<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/new.css">
    <link rel="stylesheet" href="css/responsive.css">
    <link rel="stylesheet" href="css/contact.css">
    <title>Shop Maadi</title>
</head>
<body>
    <header>
    <nav class="navbar">
        <div class="logo">
            <img src="img/Screenshot (6).png" alt="">
        </div>
        <ul class="new">
            <li><a href="/">Home</a></li>
            <li><a href="/about">About</a></li>
            <li><a href="/contacts">Contacts</a></li>
           
           
           
        </ul>
        <div class="search">
            <input type="text" id="text">
            <button class="btn">Search</button>
        </div>
    </nav>
    </header>
    
    <section class="sec" id="lastsec">
        <h2 class="para">Contact Us</h2>
        <div class="form">
        <form action="/" method="post" id="contact">
            <input type="text" class="form-input" name="name" id="name" placeholder="Enter your name">
            <input type="phone" class="form-input" name="phone" id="phone" placeholder="Enter your Phone No">
            <input type="email"  class="form-input" name="email" id="email" placeholder="Enter your Email">
            <textarea name="concern"  class="form-input" id="concern" cols="30" rows="10" placeholder="Enter your concern "></textarea>
            <button class="bt">Submit</button>
        </form>  
        </div>
    </section>
    <footer class="foot">
        <p>Copyright &copy; Mycart.com</p>
    </footer>
</body>
</html>
