<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/new.css">
    <link rel="stylesheet" href="css/responsive.css">
    <title>Flipkart</title>
</head>
<body>
    <header>
    <nav class="navbar">
        <div class="logo">
            <img src="img/Screenshot (6).png" alt="">
        </div>
        <ul class="new">
            <li><a href="/">Home</a></li>
            <li><a href="/about">About</a></li>
            <li><a href="/contacts">Contacts</a></li>
           
           
           
        </ul>
        <div class="search">
            <input type="text" id="text">
            <button class="btn">Search</button>
        </div>
    </nav>
    </header>
    <main>
        <div class="container">
            <div class="slider">
            <img src="img/vintage-store.jpg">
        </div>
        </div>
        <div class="card">
            <h2 class="my-2">Join the Sports fun</h2>
            <div class="card1">
            <div class="card-details">
                <img src="img/5b17a6f4ee3028e012227959.jpg" alt="">
                <div class="line">
                    <p class="text-center my-1">Cricket bats</p>
                    <p  class="text-center my-3">Min 20% off</p>
                    <p  class="text-center my-4">$70</p>
                    <button class="btn1"> <a href="/btn"> Grab now</a></button>
                </div>
                
               
                </div>
                <div class="card-details">
                    <img src="img/Cricket_Ball_27343391052.jpg" alt="">
                    <div class="line">
                        <p class="text-center my-1">Deuce Ball</p>
                        <p  class="text-center my-3">Min 10% off</p>
                        <p  class="text-center my-4">$40</p>
                        <button class="btn1"> <a href="/btn"> Grab now</a></button>
                    </div>
                    
                   
                    </div>
                    <div class="card-details">
                        <img src="img/stumps.jpg" alt="">
                        <div class="line">
                            <p class="text-center my-1">Stumps</p>
                            <p  class="text-center my-3">Min 15% off</p>
                            <p  class="text-center my-4">$35</p>
                            <button class="btn1"> <a href="/btn"> Grab now</a></button>
                        </div>
                        
                       
                    </div>
                    <div class="card-details">
                        <img src="img/Navex-Cricket-Cap-SDL712341180-2-c3bb3.jpg" alt="">
                        <div class="line">
                            <p class="text-center my-1">Helmet</p>
                            <p  class="text-center my-3">Min 25% off</p>
                            <p  class="text-center my-4">$20</p>
                            <button class="btn1"> <a href="/btn"> Grab now</a></button>
                        </div>
                        
                       
                    </div>
                        <div class="card-details">
                            <img src="img/Shrey-Cricket-Helmet-SDL042214129-1-ca1d2.jpg" alt="">
                            <div class="line">
                                <p class="text-center my-1">Caps</p>
                                <p  class="text-center my-3">Min 20% off</p>
                                <p  class="text-center my-4">$25</p>
                                <button class="btn1"> <a href="/btn"> Grab now</a></button>
                            </div>
                            
                           
                            </div>
                        </div>
                            <div class="card">
                                <h2 class="my-2">Clothing on Trend</h2>
                                <div class="card1">
                                <div class="card-details">
                                    <img src="img/bugatti_jacket_sku_bug475100_290_1.jpg" alt="">
                                    <div class="line">
                                        <p class="text-center my-1">Jackets</p>
                                        <p  class="text-center my-3">Min 5% off</p>
                                        <p  class="text-center my-4">$32</p>
                                        <button class="btn1"> <a href="/btn"> Grab now</a></button>
                                    </div>
                                    
                                   
                                    </div>
                                    <div class="card-details">
                                        <img src="img/Being-Fab-Green-Formal-Shirt-SDL798545728-1-0b951.jpg" alt="">
                                        <div class="line">
                                            <p class="text-center my-1">Shirts</p>
                                            <p  class="text-center my-3">Min 15% off</p>
                                            <p  class="text-center my-4">$30</p>
                                            <button class="btn1"> <a href="/btn"> Grab now</a></button>
                                        </div>
                                        
                                       
                                        </div>
                                        <div class="card-details">
                                            <img src="img/21-2_re-768x1152.jpg" alt="">
                                            <div class="line">
                                                <p class="text-center my-1">T-Shirts</p>
                                                <p  class="text-center my-3">Min 10% off</p>
                                                <p  class="text-center my-4">$15</p>
                                                <button class="btn1"> <a href="/btn"> Grab now</a></button>
                                            </div>
                                            
                                           
                                        </div>
                                        <div class="card-details">
                                            <img src="img/421526530_1_720x928.jpg" alt="">
                                            <div class="line">
                                                <p class="text-center my-1">Jeans</p>
                                                <p  class="text-center my-3">Min 20% off</p>
                                                <p  class="text-center my-4">$25</p>
                                                <button class="btn1"> <a href="/btn"> Grab now</a></button>
                                            </div>
                                            
                                           
                                        </div>
                                            <div class="card-details">
                                                <img src="img/AT2B-2.jpg" alt="">
                                                <div class="line">
                                                    <p class="text-center my-1">Suits</p>
                                                    <p  class="text-center my-3">Min 12% off</p>
                                                    <p  class="text-center my-4">$60</p>
                                                    <button class="btn1"> <a href="/btn"> Grab now</a></button>
                                                </div>
                                                
                                               
                                                </div>
                                            </div>
                                                <div class="card3">
                                                    <h2 class="my-2">Electronics</h2>
                                                    <div class="card1">
                            
                                                    <div class="card-details">
                                                        <img src="img/d3aaa43e790b97e9ab644b0989d8c758.jpg" alt="">
                                                        <div class="line">
                                                            <p class="text-center my-1">Iphone</p>
                                                            <p  class="text-center my-3">Min 20% off</p>
                                                            <p  class="text-center my-4">$301</p>
                                                            <button class="btn1"> <a href="/btn"> Grab now</a></button>
                                                        </div>
                                                        
                                                       
                                                        </div>
                                                        <div class="card-details">
                                                            <img src="img/gt88-fitness-tracker-rating.jpg" alt="">
                                                            <div class="line">
                                                                <p class="text-center my-1">Smart Watch</p>
                                                                <p  class="text-center my-3">Min 10% off</p>
                                                                <p  class="text-center my-4">$15</p>
                                                                <button class="btn1"> <a href="/btn"> Grab now</a></button>
                                                            </div>
                                                            
                                                           
                                                            </div>
                                                            <div class="card-details">
                                                                <img src="img/201707AM210000004_15005912985165710026311.jpg" alt="">
                                                                <div class="line">
                                                                    <p class="text-center my-1">Laptop</p>
                                                                    <p  class="text-center my-3">Min 15% off</p>
                                                                    <p  class="text-center my-4">$500</p>
                                                                    <button class="btn1"> <a href="/btn"> Grab now</a></button>
                                                                </div>
                                                                
                                                               
                                                            </div>
                                                            <div class="card-details">
                                                                <img src="img/c9aa180e-eea5-4049-9317-1e9676a3c2c4.ccf1c8fc260314c8727df5bfbc2df523.jpeg" alt="">
                                                                <div class="line">
                                                                    <p class="text-center my-1">Ipad</p>
                                                                    <p  class="text-center my-3">Min 25% off</p>
                                                                    <p  class="text-center my-4">$410</p>
                                                                    <button class="btn1"> <a href="/btn"> Grab now</a></button>
                                                                </div>
                                                                
                                                               
                                    </div>
                                                                <div class="card-details">
                                                                    <img src="img/b233fffa-4572-4a9b-8bb4-11480622338c_1.462dfb0fde1e25c99bcae9c3458e8b0a.jpeg" alt="">
                                                                    <div class="line">
                                                                        <p class="text-center my-1">Headphones</p>
                                                                        <p  class="text-center my-3">Min 20% off</p>
                                                                        <p  class="text-center my-4">$100</p>
                                                                        

                                                                        <button class="btn1"> <a href="/btn"> Grab now</a></button>
                                                                    </div>
                                                                </div>
                                                                    
                                                                   
                                    </div>
        </div>
    </main>

    <footer class="foot">
        <p>Copyright &copy; Mycart.com</p>
    </footer>
</body>
</html>